@page "/maps"
    <head>
        <title>Leaflet Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <link href="css/maps/maps.min.css" rel="stylesheet" />
    </head>
<body>

    <div class="card p-5">
        <div id="map"></div>
    </div>

    

    @code {

    }

</body>



